/*GENERAL ELEMENTS*/
* {
  font-family: 'Oswald', sans-serif;
}
body {
  background-color: #030304;
}

canvas {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 0;
  max-width: 100%;
}
/*HEADER*/
.hero-container {
  z-index: 999999;
  height: 100vh;
  position: relative;
  background: url('/images/bg/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  .menu {
    left: -100px;
    animation: leftToRight 1.2s forwards 0.5s linear;
    position: absolute;
    top: 35%;
    height: auto;

    ul {
      padding-left: 15px;
      padding-top: 10px;
      padding-right: 20px;

      li {
        margin-bottom: 10px;
        list-style-type: none;

        a {
          text-decoration: none;

          img {
            width: 40px;
            height: 40px;
            transform: rotateY(180deg);
          }

          span {
            display: none;
          }
        }
      }

      li:hover {
        a {
          span {
            display: inline;
            color: white;
          }
        }
      }
    }
  }

  .img-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    /* transform: translate(-50%, -50%); */
    left: 50%;
    background-color: rgba(255, 255, 255, 0.541);
    width: 20%;
    margin: 0 auto;
    text-align: center;

    img {
      width: 60%;
    }
  }
  .alternative {
    color: #fad925;
    margin-right: 10px;
    border-radius: 0 !important;
    font-family: 'Anton', sans-serif;
    margin-top: 10px;
    letter-spacing: 5px;
  }
  .teamtxt {
    letter-spacing: 5px;
  }

  .text-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    * > {
      color: white;
    }

    h1 {
      color: white;
    }

    h3 {
      margin-top: 30px;

      color: white;
      text-align: center;
      letter-spacing: 5px;

      span {
        color: #fad925;
      }
    }

    p {
      margin-top: 20px;
      color: white;
      letter-spacing: 2px;
      text-align: center;
    }
    img {
      width: 20%;
    }
  }
}
/*helpers */
.grande {
  font-size: 1.5em;
}
.anton {
  font-family: 'Anton', sans-serif;
  font-size: 1.2em;
}
.set-relative {
  position: relative !important;
}
.color-lion {
  color: #fad925 !important;
}
.img-responsive {
  width: 100%;
}
.spacing {
  letter-spacing: 2px;
}
.color-white {
  color: white !important;
}

.separator {
  height: 1px;
  background-color: #fad925 !important;
}
.btn-lion {
  background-color: transparent;
  border: 1px solid #fad925;
  color: white;
}
.row-custom {
  margin-top: 20px;
}
.instagram-btn {
  border: 1px solid #bd2c8e;
  img {
    width: 32px;
  }
  span {
    padding-left: 10px;
    color: white;
  }
}
.grayscale {
  filter: grayscale(15);
}
/*SERVICES SECTION*/
.services {
  width: 75%;
  margin: 0 auto;
}
.service {
  text-align: center;
  .service-info {
    background: #333439;
    padding: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }

  img {
    width: 70%;
    max-height: 345px;
    min-height: 345px;
  }
}
/*COACHES SECTION*/
.coach {
  max-height: 650px;
  overflow: hidden;
  h3 {
    color: white;
  }
  .social {
    text-align: center;
    display: none;
    position: absolute;
    height: inherit;
    width: inherit;
    z-index: 0;
    top: 45%;
    left: 0%;
    padding: 20px;
    cursor: pointer;
    p {
      color: white;
      text-align: justify !important;
    }
    img {
      width: 25%;
    }
  }
  img {
    cursor: pointer;
  }
}
/*MODAL SECTION*/
.coach-details {
  width: 100%;
  position: fixed;
  height: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  top: 0;
  background: black;
  z-index: 9999999;
  .close-elm {
    display: none;
    position: absolute;
    left: 40px;
    top: 20px;
    z-index: 9999;
  }
  .bios {
    height: 100%;
    display: none;
    .bios-bg {
      position: relative;
      left: 0;
      top: 0;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: initial;
    }
    .bios-info {
      position: absolute;
      top: 20%;
      left: 12%;
      padding: 40px;
      background: #00000047;
      width: 75%;
    }
  }
  .image {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: none;
    transition: right 2s 3s;
    video {
      width: 100%;
      height: 100%;
      padding: 25px;
    }
    position: relative;
    right: -100%;
  }
}

.show-modal {
  height: 100%;
  .close-elm {
    display: block;
  }
  .bios {
    width: 50%;
    position: absolute;
    top: 50%;
    /* height: 100vh; */
    font-size: 1.5em;
    display: block;
    transform: translate(0, -50%);
    h2 {
      color: white;
      border-bottom: 1px solid #fad925;
    }
    p {
      color: white;
      text-align: justify;
    }
  }
  .image {
    display: block;
    float: right;
    overflow: hidden;
    height: 100vh;
    background-size: cover;
    animation: rightToLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    right: 0;
    // img {
    //   animation: rightToLeft;
    //   animation-duration: 1s;
    //   animation-fill-mode: forwards;
    // }
  }
}
.pichon {
  background: url(https://scontent-lax3-2.cdninstagram.com/vp/a33bc063cb1019a17a718f66cecebe57/5C49C80D/t51.2885-15/e35/39331406_245671932757452_3059184894316904448_n.jpg);
}
.anita {
  background: url(https://instagram.fntr3-1.fna.fbcdn.net/vp/5df88fb9594a607fcc171f2a1389797f/5C554F84/t51.2885-15/e35/39871814_152270739027053_3247111639085942792_n.jpg);
}
.marco {
  background: url(https://scontent-lax3-2.cdninstagram.com/vp/c2636c1c99a673f2c4c8f3720568f9ca/5C61CB3E/t51.2885-15/e35/39990135_162845354580881_2765436335593357312_n.jpg);
}
/*END SECTION*/
.end {
  width: 50% !important;
  margin: 0 auto !important;
  text-align: center !important;
  margin-bottom: 30px;
  font-size: 1.2em;
}
/*ANIMATIONS*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes leftToRight {
  0% {
    left: -100px;
  }

  100% {
    left: 0px;
  }
}
@keyframes rightToLeft {
  0% {
    right: -100%;
  }

  100% {
    right: 0%;
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
